body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculate{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    padding: 6px;
}

.display{
 border: 1px solid black;
 padding: 1.5em;
 margin: 6px;
 padding-left: 3.5em;
 padding-right: 3.5em;
}

button{
    margin: 3px;
    padding: 6px;
}

button:hover{
    cursor: pointer;
}