body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tan;
}
.calculate{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    padding: 6px;
    margin-top: 3.5em;
    background-color:midnightblue;
    border-radius: 12px;
}

.display{
 border: 1px solid black;
 padding: 2.5em;
 margin: 6px;
 padding-left: 6.5em;
 padding-right: 6.5em;
 background-color: rgb(144, 246, 154);
 border-radius: 12px;

}

button{
    margin: 3px;
    padding: 18px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    opacity: .8;
}

.operators{
    background-color: darkgrey;
}

.numbers{
    background-color: orange;
}

#clear{
    background-color: orangered;
    border-radius:  12px;
}

#decimal{
    background-color: darkgrey;   
}

#delete{
    background-color: gold;
    border-radius: 12px;
}
