.calculate{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
    border: 3px solid black;
    padding: 6px
}

.display{
 border: 1px solid black;
 padding: 1em;
 margin: 6px;
}

button{
    margin: 1px;
}